<div class="footer-section pb-5">
    <div class="footer-container mb-4">
        <div class="sub-footer-1">
            <p class="title">Services</p>
            <ul class="list">
                <li>Find a Job</li>
                <li>Upload Resume</li>
            </ul>
        </div>
        <div class="sub-footer-2">
            <p class="title">Learn about us</p>
            <ul class="list">
                <li>Find a Job</li>
                <li>Upload Resume</li>
            </ul>
        </div>
        <div class="sub-footer-3">
            <p class="title">Follow Us</p>
            <ul class="list">
                <li>Find a Job</li>
                <li>Upload Resume</li>
            </ul>
        </div>
    </div>
    
    <p class="copyright-text text-center"> Copyright © JobHuntUSA 2021 All Rights Reserved </p>
</div>
