<div class="hero-section">
    <div class="search-section" >
        <p id="search-jobs-title">Find Jobs</p>
        <div class="row" id="search-jobs-form">
            <div class="col-md-10 col-lg-10 col-xs-12 my-2">
                <input type="text" class="form-control" id="search-jobs-input" placeholder="job title, keywords or company name " >
            </div>
            <div class="col-md-2 col-lg-2 col-xs-12 my-2">
                <button class="btn btn-success w-100" id="search-jobs-btn">Search</button>
            </div>
            
        </div>
    </div>
</div>