/*
*****************************
Bootstrap class modifications
*****************************
*/

nav{
}

.navbar-brand{
    font-weight: 200;
    font-size: 26px;
    color: #000;
}

.navbar-brand span{
    font-weight: 750;
    color: #000;
}

.navbar-collapse {
    flex-basis: 0%;
    flex-grow: 0.4;
    align-items: center;
}

.nav-item{
    padding:0.5em;
}



/*
********************
Media Queries
********************
*/

@media (max-width:960px){
    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
    }
}