body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media screen and (max-width:550px) and (min-width: 310px){
    html{
        font-size: 12px;
    }
}

@media screen and (max-width:300px) and (min-width:285){
    html{
        font-size: 10px;
    }
}

@media screen and (max-width:280px){
    html{
        font-size: 8px;
    }
}